@charset "utf-8";
/* CSS Document */

.tabla {
font-size: 12px;
text-align:left;
font-weight:bold;
text-transform:inherit;
}
.tabla .modo1 {
margin-left: auto;
margin-right: auto;
padding: 2px;
text-align:left;
text-transform:uppercase;
}

.tabla .modo {
	width:200px;
}
